<div class="video-container">
  <video autoplay loop muted playsinline class="background-video">
    <source src="<%= asset_path('garage-background.mp4') %>" type="video/mp4"></source>
    Your browser does not support the video tag
    </video>
<div class="content-overlay">
  <h1>My Dream Garage</h1>
  <p>This ain't Barbie's, this is mine!</p>
  <a href="/cars" class="cta-button">Enter</a>
</div>
</div>
